.section-container {
    @apply px-6 py-4 rounded-lg bg-white shadow-lg;
}

.transition-dark{
    @apply transition duration-500 ease-in-out dark:transition dark:duration-500 dark:ease-in-out;
}

*::-webkit-scrollbar {
	width: 10px;
	background: transparent;
}


*::-webkit-scrollbar-thumb {
	background: #708199;
	border-radius: 10px;

}
